* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {   
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    button{
        padding: 22px 40px;
        background-color: cadetblue;
        border-radius: 7px;
        border: none;
        font-size: 20px;
        font-weight: 600;
        z-index: 5;
        
    }
   
    button:Active{
        scale: 0.95;
    }


}


